:root {
  --my-color1: aqua;
  --my-color2: aquamarine;
  --my-color3: white;
  --my-font: "Lexend", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--my-font);
  box-sizing: border-box;
}
body {

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--my-color3);
    background: linear-gradient(to bottom right, var(--my-color1), var(--my-color2));
}
.container {
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: rgba(255, 255, 255, 0.1); */
  background-color: #494eea;
  border-radius: 10px;
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container input {
  width: 100%;
  height: 50px;
  border: 1px solid #494eea;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
}
.container button {
  width: 100%;
  height: 50px;
  border: 0;
  background: black;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 20px 0;
  font-weight: 500;
}
#imgBox {
  width: 100px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}
#imgBox img {
  width: 100%;
  height: 100px;
  padding: 10px;
}
#imgBox.show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}
.error {
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}



.loading {
  cursor: not-allowed;
  opacity: 1;
  height: 20;
  width: 20;
}

.loading::after {
  content: url('icon/load.gif');
  width: 5;
  height: 5;
  background: none;
  display: inline-block;
  margin-left: 10px;
}
